<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div>
    <body style="background-color:slategrey;">
    <h2>Welcome to Warehouse Management System</h2>
    <div>

        <button><h4><a href="/listAllItems">List all items</a></h4></button></p>
        <button><h4><a href="browseByCategory">Browse by category</a></h4></button></p>
        <button><h4><a href="/searchItemPage">Search an item and place an order</a></h4></button></p>

    </div>
         <button> <p><a href="/loginPage">Sign In</a></button></p>
</div>
</html>