<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<div>
    <body style="background-color:slategrey;">
    <h2>Welcome to Warehouse Mangement System</h2>
    <div>

        <button><h4><a href="/listAllItems">List all items</a></h4></button></p>
        <button><h4><a href="/warehouse/getCategories">Browse by category</a></h4></button></p>
        <button><h4><a href="/warehouse/getItemsByCategory/{category}">Search an item and place an order</a></h4></button></p>

    </div>
    <button> <p><a href="/users/admin/login">Sign In</a></button></p>
</div>
</html>